<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLConnString" connectionString="CF311310CD8ED5FC15969926AE9BB84E2E25C6ADAEC32E75465EECFD261EDC7781764804CC81D5E34AF1C4E6BD240654D8CC164A23D4CD02AFD596AAC83F31766CA513A8433B0917F4E7177158E1183927B5D46A771B95D00CE88E12B6AB5526B85FE502E5707F1A"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DBDAL" value="WIP_SQLServerDAL"/>
    <!--DEV环境-->
    <!--<add key="GEBF_URL" value="https://rcl-wip-dev:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory"/>-->
    <!--本机1-->
    <add key="GEBF_URL" value="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory"/>
    <!--本机-shaocx-->
    <!--<add key="GEBF_URL" value="https://localhost:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <!-- 部署服务库项目时，必须将配置文件的内容添加到 
  主机的 app.config 文件中。System.Configuration 不支持库的配置文件。-->
  <system.serviceModel>
    <services>
      <service name="WIP_Personnel.ValidateUser">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="" contract="WIP_Personnel.IValidateUser">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/WIP_Personnel/ValidateUser/" />
          </baseAddresses>
        </host>
        <!---->
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBrilliantFactory">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IEventSubscriptionCallback">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IFolders">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IBrowse">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IConfig">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IData">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IDataAccess">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IMetadata">
          <security mode="TransportWithMessageCredential" />
        </binding>
        <binding name="BasicHttpBinding_IServiceControl">
          <security mode="TransportWithMessageCredential" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrilliantFactory" contract="GEBF.IBrilliantFactory" name="BasicHttpBinding_IBrilliantFactory" />
      <endpoint address="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IEventSubscriptionCallback" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventSubscriptionCallback" contract="GEBF.IEventSubscriptionCallback" name="BasicHttpBinding_IEventSubscriptionCallback" />
      <endpoint address="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IFolders" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFolders" contract="GEBF.IFolders" name="BasicHttpBinding_IFolders" />
      <endpoint address="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrowse" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrowse" contract="GEBF.IBrowse" name="BasicHttpBinding_IBrowse" />
      <endpoint address="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IConfig" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfig" contract="GEBF.IConfig" name="BasicHttpBinding_IConfig" />
      <endpoint address="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IData" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData" contract="GEBF.IData" name="BasicHttpBinding_IData" />
      <endpoint address="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IDataAccess" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataAccess" contract="GEBF.IDataAccess" name="BasicHttpBinding_IDataAccess" />
      <endpoint address="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IMetadata" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetadata" contract="GEBF.IMetadata" name="BasicHttpBinding_IMetadata" />
      <endpoint address="https://desktop-nuvt97p:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IServiceControl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceControl" contract="GEBF.IServiceControl" name="BasicHttpBinding_IServiceControl" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，
          请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <!-- 要接收故障异常详细信息以进行调试，
          请将以下值设置为 true。在部署前设置为 false 
            以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>