<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <!--打印类型配置-->
    <section name="PrintTypeSection" type="WIP_common.PrintTypeSection,WIP_common"/>
    <!--邮箱配置-->
    <section name="MailSection" type="WIP_common.MailSection,WIP_common"/>
  </configSections>
  <MailSection>
    <add name="热后出库打印流转卡" value="100"/>
  </MailSection>
  <PrintTypeSection>
    <add name="热后出库打印流转卡" value="100"/>
    <add name="后道缓存区打印流转卡" value="102"/>
    <add name="送检单打印" value="101"/>
  </PrintTypeSection>
  <appSettings>
    <!--测试环境-->
    <add key="GEBF_URL" value="https://rcl-wip-uat:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="PostHost" value="http://localhost"/>
    <!--ECMHost-->
    <add key="ECMHost" value="http://localhost/test/"/>
    <!--MESHost-->
    <add key="MESHost" value="http://localhost/test/"/>
    <!--WCSHost-->
    <add key="WCSHost" value="http://localhost/test/"/>
    <!--LIMSHost-->
    <add key="LIMSHost" value="http://localhost/test/"/>
    <!--QAMSHost-->
    <add key="QAMSHost" value="http://localhost/test/"/>
    <!--ScheduleHost-->
    <add key="ScheduleHost" value="http://localhost/test/"/>
    <!--MangoDBHost-->
    <add key="MangoDBHost" value="http://10.1.5.193:8089/api/"/>
    <!--下发失败超时时间(单位：分钟)-->
    <add key="IssueFailureOutTime" value="1"/>
    <!--系统服务请求重试次数-->
    <add key="RequestRetryCount" value="3"/>
    <!--RabbitMQ发布[小车实时位置]消息订阅名称,这个依各个环境而变化-->
    <add key="RabbitMQ_AgvRealTimeLocation" value="deviceExchange"/>
  </appSettings>
  <log4net>
    <!--错误日志配置-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender" level="ERROR">
      <param name="File" value="d:\\Log\\Error\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd.LOG"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c [%x] %n%m %n "/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR"/>
        <levelMax value="ERROR"/>
      </filter>
    </appender>
    <!--消息日志配置-->
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender" level="INFO">
      <param name="File" value="d:\\Log\\Info\\"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="100"/>
      <param name="MaxFileSize" value="10240"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyy-MM-dd.LOG"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n消息时间：%d [%t] %n消息级别：%-5p %n消 息 类：%c [%x] %n%m %n "/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO"/>
        <levelMax value="INFO"/>
      </filter>
    </appender>
    <root>
      <appender-ref ref="InfoAppender"/>
      <appender-ref ref="ErrorAppender"/>
    </root>
    <logger name="logerror">
      <level value="ALL"/>
      <appender-ref ref="ErrorAppender"/>
    </logger>
    <logger name="loginfo">
      <level value="ALL"/>
      <appender-ref ref="InfoAppender"/>
    </logger>
  </log4net>
  <connectionStrings>
    <!--测试环境-->
    <add name="SOACon" connectionString="CF311310CD8ED5FC15969926AE9BB84EE3E675ADFA28C098F5FDBEFA0D02602D9AD817FFA85A2CF0BFE89BDF3D64791C105BDF2AFCA1007689738084AA578CB384E69C1D72C936913912A936C2F360A65C4F1542AEE023C1C82AAF75C72F801F78DA8A7C36E837AB"/>
    <add name="READONLY_SOACon" connectionString="CF311310CD8ED5FC15969926AE9BB84EE3E675ADFA28C098F5FDBEFA0D02602D9AD817FFA85A2CF0BFE89BDF3D64791C105BDF2AFCA1007689738084AA578CB384E69C1D72C936913912A936C2F360A65C4F1542AEE023C1C82AAF75C72F801F78DA8A7C36E837AB"/>
    <add name="RedisConnectionString" connectionString="10.1.4.40:7001,10.1.4.40:7002,10.1.4.41:7003,10.1.4.41:7004,10.1.4.42:7005,10.1.4.42:7006"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <!--<buildProviders>
        <remove extension=".svc"/>
      </buildProviders>-->
      <assemblies>
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="PostSharp, Version=4.3.26.0, Culture=neutral, PublicKeyToken=B13FD38B8F9C99D7"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WIP_Personnel.ValidateUser">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="" behaviorConfiguration="webBehavior" contract="WIP_Personnel.IValidateUser"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息-->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true">
      <!--<serviceActivations>
        <add factory="System.ServiceModel.Activation.WebServiceHostFactory"
           relativeAddress="Service.svc"
           service="RESTfulWCFhubwiz.EmployeeService"/>
      </serviceActivations>
    -->
    </serviceHostingEnvironment>
    <bindings>
      <webHttpBinding>
        <!--单位：字节  2147483647=2GB -->
        <binding maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed"/>
      </webHttpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBrilliantFactory">
          <security mode="TransportWithMessageCredential"/>
        </binding>
        <binding name="BasicHttpBinding_IEventSubscriptionCallback">
          <security mode="TransportWithMessageCredential"/>
        </binding>
        <binding name="BasicHttpBinding_IFolders">
          <security mode="TransportWithMessageCredential"/>
        </binding>
        <binding name="BasicHttpBinding_IBrowse">
          <security mode="TransportWithMessageCredential"/>
        </binding>
        <binding name="BasicHttpBinding_IConfig">
          <security mode="TransportWithMessageCredential"/>
        </binding>
        <binding name="BasicHttpBinding_IData">
          <security mode="TransportWithMessageCredential"/>
        </binding>
        <binding name="BasicHttpBinding_IDataAccess">
          <security mode="TransportWithMessageCredential"/>
        </binding>
        <binding name="BasicHttpBinding_IMetadata">
          <security mode="TransportWithMessageCredential"/>
        </binding>
        <binding name="BasicHttpBinding_IServiceControl">
          <security mode="TransportWithMessageCredential"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://rcl-wip-uat:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrilliantFactory" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrilliantFactory" contract="GEBF.IBrilliantFactory" name="BasicHttpBinding_IBrilliantFactory"/>
      <endpoint address="https://rcl-wip-uat:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IEventSubscriptionCallback" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventSubscriptionCallback" contract="GEBF.IEventSubscriptionCallback" name="BasicHttpBinding_IEventSubscriptionCallback"/>
      <endpoint address="https://rcl-wip-uat:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IFolders" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFolders" contract="GEBF.IFolders" name="BasicHttpBinding_IFolders"/>
      <endpoint address="https://rcl-wip-uat:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IBrowse" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBrowse" contract="GEBF.IBrowse" name="BasicHttpBinding_IBrowse"/>
      <endpoint address="https://rcl-wip-uat:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IConfig" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfig" contract="GEBF.IConfig" name="BasicHttpBinding_IConfig"/>
      <endpoint address="https://rcl-wip-uat:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IData" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData" contract="GEBF.IData" name="BasicHttpBinding_IData"/>
      <endpoint address="https://rcl-wip-uat:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IDataAccess" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataAccess" contract="GEBF.IDataAccess" name="BasicHttpBinding_IDataAccess"/>
      <endpoint address="https://rcl-wip-uat:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IMetadata" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMetadata" contract="GEBF.IMetadata" name="BasicHttpBinding_IMetadata"/>
      <endpoint address="https://rcl-wip-uat:8202/SOAServer/SOAProject/IBrilliantFactory/BFServiceProvider/IServiceControl" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceControl" contract="GEBF.IServiceControl" name="BasicHttpBinding_IServiceControl"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </modules>
    <directoryBrowse enabled="true"/>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept,Authorization"/>
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS,PUT,DELETE"/>
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="10485760"/>
        <fileExtensions allowUnlisted="true"/>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="SimpleHandlerFactory-ISAPI-2.0"/>
      <remove name="HttpRemotingHandlerFactory-rem-ISAPI-2.0"/>
      <add name="HttpRemotingHandlerFactory-rem-ISAPI-2.0" path="*.rem" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0"/>
      <add name="SimpleHandlerFactory-ISAPI-2.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>