<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServiceSection" type="WIP_ServiceClient.ServiceSection,WIP_ServiceClient" />
  </configSections>
  <ServiceSection>
    <add name="WIP_QuartzService" text="WIP_QuartzService服务" path="\WIP_QuartzService\WIP_QuartzService.exe" />
    <add name="WIP_EurekaHeartbeatService" text="WIP_Eureka心跳服务" path="\WIP_EurekaHeartbeatService\WIP_EurekaHeartbeatService.exe" />
    <add name="WIP_PrintService" text="打印服务" path="\WIP_PrintService\WIP_PrintService.exe" />
    <add name="WIP_IssueScheduleTaskService" text="下发排产任务服务" path="\WIP_IssueScheduleTaskService\WIP_IssueScheduleTaskService.exe" />
    <add name="WIP_IssueOutStoreTaskService" text="下发热后出库任务服务" path="\WIP_IssueOutStoreTaskService\WIP_IssueOutStoreTaskService.exe" />
  </ServiceSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>